body {
  margin: 0;
  font-size: 0.75rem;
}

.tempBorder {
  border: 3px;
  border-style: solid;
  border-color: red;
}

.tempPadding {
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 10px;
}

.login {
  align-items: center;
}
